@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  line-height: 1.5;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #edf2f8;
  color: #464444;
}

header {
  width: 100%;
}

nav {
  width: 80%;
  margin: auto;
  height: 10vh;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(37, 37, 37);
}
nav .logo {
  font-size: 2.5rem;
  color: #dad4d4;
  text-decoration: none;
}
nav ul {
  display: flex;
  gap: 2rem;
}
nav ul li {
  list-style: none;
}
nav ul a {
  text-decoration: none;
  color: #dad4d4;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
nav ul a:hover {
  border-bottom: 3px solid #dad4d4;
}

.testimonial {
  width: 80%;
  margin: auto;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.grid {
  padding: 3rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "card1 card1 card2 card5" "card3 card4 card4 card5";
}
.grid .card {
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.grid .card figure {
  display: flex;
  gap: 1rem;
}
.grid .card figure img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid #996ed9;
}
.grid .card figure figcaption > p {
  opacity: 50%;
}
.grid .card .card__lead {
  margin-block: 1rem;
}
.grid .card .card__quote {
  opacity: 70%;
}
.grid .card__1 {
  grid-area: card1;
  background: hsl(263deg, 55%, 52%);
  color: #fff;
  background-image: url("/img/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top 0px right 80px;
}
.grid .card__2 {
  grid-area: card2;
  background: hsl(217deg, 19%, 35%);
  color: #fff;
}
.grid .card__3 {
  grid-area: card3;
}
.grid .card__4 {
  grid-area: card4;
  background: hsl(219deg, 29%, 14%);
  color: #fff;
}
.grid .card__5 {
  grid-area: card5;
}

footer {
  width: 80%;
  margin: auto;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(37, 37, 37);
  color: #fff;
  text-align: center;
  font-size: 2rem;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "card1 card1 card2" "card3 card4 card4" "card5 card5 card5";
  }
  .grid .card__1 {
    grid-area: card1;
  }
  .grid .card__2 {
    grid-area: card2;
  }
  .grid .card__3 {
    grid-area: card3;
  }
  .grid .card__4 {
    grid-area: card4;
  }
  .grid .card__5 {
    grid-area: card5;
  }
}
@media (max-width: 700px) {
  nav {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: "card1" "card2" "card3" "card4" "card5";
  }
  .grid .card__1 {
    grid-area: card1;
  }
  .grid .card__2 {
    grid-area: card2;
  }
  .grid .card__3 {
    grid-area: card3;
  }
  .grid .card__4 {
    grid-area: card4;
  }
  .grid .card__5 {
    grid-area: card5;
  }
}/*# sourceMappingURL=style.css.map */